@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Varela Round', sans-serif;
    padding: 10px;
}

::selection {
    background: #d7c6cf;
}

::-moz-selection {
    background: #d7c6cf;
}

.page-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    height: 100%;
}

.page-container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

h1 {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 32px;
    margin-bottom: 15px;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 30px;
    }
}

p {
    color: #717f86;
    font-size: 16px;
}

h1 a {
    text-decoration: none;
    color: #d7c6cf;
}

@media screen and (max-width: 480px) {
    h1 {
        width: 250px;
        font-size: 34px;
    }
}

.page-container>p {
    color: #717f86;
    font-size: 16px;
    max-width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}

.textarea-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 750px;
    height: 300px;
    margin: 0 auto;
}

.container {
    width: 100%;
    height: 300px;
}

.container:first-child {
    margin-right: 25px;
}

.textarea {
    width: 100%;
    height: 300px;
    padding: 10px 10px;
    color: #444;
    font-size: 16px;
    background: rgba(255, 255, 255, .2);
    border: 1px solid rgba(215, 198, 207, .75);
    border-radius: 4px;
    outline: none;
    resize: none;
}

.textarea:focus {
    border: 1px solid rgba(215, 198, 207, 1);
}

@media screen and (max-width: 650px) {
    .textarea-wrapper {
        flex-direction: column;
        height: 625px;
    }

    .container {
        height: 600px;
    }

    .container:first-child {
        margin-right: 0px;
        margin-bottom: 25px;
    }

    .page-wrapper {
        display: block;
    }

    h1 {
        max-width: 400px;
        font-size: 28px;
    }
}

#clap_emoji_text_container {
    position: relative;
}

.tweet-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -5px);
    top: -25px;
    color: #fff;
    background: rgba(29, 161, 242, .5);
    font-size: 15px;
    width: 90px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    padding: 3px 6px;
    border-radius: 5px;
    text-decoration: none;
    padding: 0;
    margin: 0;
    transition: all .2s;
    opacity: 0;
    visibility: hidden;
}

.tweet-button :hover {
    background: rgba(29, 161, 242, .75);
}

.tweet-button svg {
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
}

.tweet-button.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0px);
}

.multicultural {
    margin: 20px auto;
    text-align: center;
}

.multicultural .switch {
    margin: 5px auto;
    text-align: center;
}

footer {
    margin-top: 75px;
    text-align: center;
    color: #717f86;
    font-size: 13px;
    margin-bottom: 10px;
}

footer a {
    color: #717f86;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


/* switch css */
.switch {
    width: 50px;
    height: 30px;
}

.switch .switch__label {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}

.switch .switch__label input {
    display: none;
}

.switch .switch__label .switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transition: 0.3s;
    border: 2px solid #ebebeb;
    border-radius: 34px;
}

.switch .switch__label .switch__slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 2px;
    bottom: 2px;
    background-color: #ebebeb;
    transition: 0.3s;
    border-radius: 100%;
}

input:checked+.switch__slider {
    background-color: #d7c6cf !important;
    border: 2px solid transparent !important;
}

input:checked+.switch__slider:before {
    background-color: #fff !important;
}

input:checked+.switch__slider:before {
    transform: translateX(22px);
}