@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Varela Round', sans-serif;
    padding: 5px;
}

.page_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.page_container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

::selection {
    background: #d7c6cf;
}

::-moz-selection {
    background: #d7c6cf;
}

h1 {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 38px;
    margin-bottom: 15px;
}

h1 a {
    text-decoration: none;
    color: #d7c6cf;
}

@media screen and (max-width: 480px) {
    h1 {
        width: 250px;
        font-size: 34px;
    }
}

.desc {
    color: #717f86;
    font-size: 15px;
    max-width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 750px;
    height: 300px;
    padding: 10px 10px;
    margin: 0 auto;
}

.container {
    width: 100%;
    height: 300px;
}

.container:first-child {
    margin-right: 25px;
}

.textarea {
    width: 100%;
    height: 300px;
    padding: 10px 10px;
    color: #444;
    font-size: 15px;
    background: rgba(255, 255, 255, .2);
    border: 1px solid rgba(215, 198, 207, .75);
    border-radius: 4px;
    outline: none;
    resize: none;
}

.textarea:focus {
    border: 1px solid rgba(215, 198, 207, 1);
}

@media screen and (max-width: 650px) {
    .wrapper {
        flex-direction: column;
        height: 625px;
    }
    .container {
        height: 600px;
    }
    .container:first-child {
        margin-right: 0px;
        margin-bottom: 25px;
    }
    .page_wrapper {
        display: block;
    }
    h1 {
        max-width: 500px;
    }
}

#clap_emoji_text_container {
    position: relative;
}

.tweet_it {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -5px);
    top: -25px;
    color: #fff;
    background: rgba(29, 161, 242, .5);
    font-size: 15px;
    width: 90px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    padding: 3px 6px;
    border-radius: 5px;
    text-decoration: none;
    padding: 0;
    margin: 0;
    transition: all .2s;
    opacity: 0;
    visibility: hidden;
}

.tweet_it:hover {
    background: rgba(29, 161, 242, .75);
}

.tweet_it svg {
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
}

.show_tweet_button {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0px);
}

footer {
    margin-top: 75px;
    text-align: center;
    color: #717f86;
    font-size: 13px;
    margin-bottom: 10px;
}

footer a {
    color: #717f86;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
